@import "tailwindcss";

:root {
  --color-primary: #2f2120;
  --color-secondary: #2e303e;
  --color-tertiary: #505852;
  --color-background: #fff2ee;
  --color-background-secondary: #ece0dc;
  --color-background-tertiary: #d2c3bd;
  --color-confirmation: #2f3251;

  --color-primary-dark: #eee1e0;
  --color-secondary-dark: #b6b9c9;
  --color-tertiary-dark: #94a9a9;
  --color-background-dark: #161414;
  --color-background-secondary-dark: #1a1919;
  --color-background-tertiary-dark: #2f2a2a;
  --color-confirmation-dark: #9a9fd5;
}

@theme {
  --color-primary: #2f2120;
  --color-secondary: #2e303e;
  --color-tertiary: #505852;
  --color-background: #fff2ee;
  --color-background-secondary: #ece0dc;
  --color-background-tertiary: #d2c3bd;
  --color-confirmation: #2f3251;

  --color-primary-dark: #eee1e0;
  --color-secondary-dark: #b6b9c9;
  --color-tertiary-dark: #94a9a9;
  --color-background-dark: #161414;
  --color-background-secondary-dark: #1a1919;
  --color-background-tertiary-dark: #2f2a2a;
  --color-confirmation-dark: #9a9fd5;

  --font-main: var(--font-eau_sans_book_lng);
  --font-heading: var(--font-eb_garamond);
  --font-heading-bold: var(--font-eb_garamond);
  --font-eau: var(--font-eau_sans_book_lng);
  --font-eau-bold: var(--font-eau_sans_bold_lng);
  --font-eau-black: var(--font-eau_sans_black_lng);

  --container-7xl: 1440px;
}

body {
  font-family: var(--font-eau_sans_book_lng), system-ui, -apple-system, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-eb_garamond), system-ui, -apple-system, sans-serif;
  font-weight: 700;
}

.content-freeform-text {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    line-height: 2rem;
  }

  body ul {
    list-style-type: disc;
    list-style: disc;
    margin: 1rem 2.5rem 0 1rem;
    display: block;
  }

  li {
    padding-left: 1rem;
    line-height: 1.5rem;
  }
}